<!DOCTYPE html>
<html>
<head>
  <title>Visitor</title>
  <%= stylesheet_link_tag    "visitor/application", media: "all" %>
  <%= javascript_include_tag "visitor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
